target/
build/
dist/
out/

*.log
*.tmp
*.temp

.DS_Store
Thumbs.db

.idea/
*.iws
*.iml
*.ipr

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.vscode/

/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

.env
.env.*
application.properties
application.yml
application-*.properties
application-*.yml

*.class
*.jar
*.war

node_modules/

HELP.md